.benefit-key-point{
    ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
        li{
            display: inline-flex;
            gap: 12px;
            i{
                font-size: 24px;
                color: hsl(var(--base));
            }
            p{
                font-size: 16px;
            }
        }
    }
}

  // hero search bar
  .search-bar{
    form{     
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        left: 16px;
        font-size: 22px;
        transform: translateY(-50%);
      
  }
  .search-input{
    font-weight: 500;
    outline: none;
    width: 100%;
    padding: 14px 44px;
    padding-right: 160px;
    background-color: hsl(var(--body-color)/.1); 
    border: 1px solid hsl(var(--base)) ;
    color: hsl(var(--dark)) !important; 
    line-height: 1;
    border-radius: 4px !important;
    &::placeholder {
        color: hsl(var(--black)/0.5) !important;
        font-size: 16px;
    }
    &:focus {
        color: hsl(var(--dark)); 
        box-shadow: none;
        border-color: hsl(var(--base)); 
        background-color: hsl(var(--body-color)/.05);  
    }
  }
  .search-btn {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0px;
      padding: 15px 44px;
      border: 0px !important;
      border-left: 1px solid hsl(var(--base)) !important ;
  }
  }
}

.benefit-thumb{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-thumb{
    width: 100%;
  
    ul {
        width:70vmin;
        height:70vmin;
        position:relative;
      }
      
      li { 
        --h: calc(100% / 3);
        --w: calc(1.15470053838 * var(--h));
        --a: calc(0.28867513459 * var(--h));
        --d: calc(0.57735026919 * var(--h));
        height:var(--h);
        width:var(--w);
        position:absolute;
      }
      
      img {
        display:block;
        width:100%;
        height:100%;
        object-fit:cover;
     
        --aw:24.99999999999%;
        clip-path:polygon(
          var(--aw) 0,
          0 50%,
          var(--aw) 100%,
          calc(100% - var(--aw)) 100%,
          100% 50%,
          calc(100% - var(--aw)) 0
        );
      }
      
      li:nth-of-type(1) {
        left:calc(50% - var(--a) - var(--d) * 0.5);
        top:0;
      }
      li:nth-of-type(2) {
        left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
        top:calc(var(--h) * 0.5);
      }
      li:nth-of-type(3) {
        left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
        top:calc(var(--h) * 1.5);
      }
      li:nth-of-type(4) {
        left:calc(50% - var(--a) - var(--d) * 0.5);
        top:calc(var(--h) * 2);
      }
      li:nth-of-type(5) {
        left:calc(50% + var(--d) * 0.5);
        top:calc(var(--h) * 0.5);
      }
      li:nth-of-type(6) {
        left:calc(50% + var(--d) * 0.5);
        top:calc(var(--h) * 1.5);
      }
 
      ul {
        filter:drop-shadow(0 0 10px hsla(0,0%,0%,0.3));
      }
      
      li:hover {
        filter:drop-shadow(0 0 10px powderblue);
        z-index:10;
      }
      
      ul {
        animation:r 20s forwards;
      } @keyframes r {
        from {transform:rotate(180deg)}
        to {transform:rotate(0)}
      }
      
      li {
        animation:ir 20s forwards;
      } @keyframes ir {
        from {transform:rotate(-360deg)}
        to {transform:rotate(0)}
      }
}


.bio-right-section{
  height: 100%;
  display: flex;
  justify-content: center;
}
.bio-section-thumb{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
   img{
    height: 100%;
    width: 80%;
    object-fit: cover;
    border-radius: 12px;
   }
}

.bio-section-tag--img{
  position: absolute;
  top: 100px;
  width: 200px;
  right: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  img{
    width: 100%;
    object-fit: cover;
    border: 4px solid hsl(var(--white));
    border-radius: 12px;
  }
}

.bio-section-tag{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  bottom: 60px;
  right: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 16px;
  background: hsl(var(--base));
  color: hsl(var(--white));
  border-radius: 12px;
  .tag-text-content{
    color: hsl(var(--white));
  }
}

// responsive code
@media(max-width:426px){
  .benefit-section-thumb{
   img{
    height: 100%;
    width: 100%;
   }
  }
}
